a:link {
    text-decoration: none;
  }

  a:link {
    text-decoration: none;
  }

  h6 {
    text-align: center;
  }

  .row {
    margin: 100px;
  }
  .atten{
      margin: 400px;
  }
  .tableau{
      width: 1200px;
  }
  